<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title_pagina }}</title>
    <link rel="stylesheet" href="{{ url_for('.static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Gelasio|Lilita+One|Source+Sans+Pro&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <header>
            <a href="{{ url_for('noticias.index') }}">
                <h1 class="text-logo">Noticias Filipiaki</h1>
            </a>
        </header>
        <main>
            {% block content %}
            {% endblock %}
        </main>
    </div>
</body>
</html>