{% extends "layout.html" %}
{% block content %}
    <article>
        <header>
            <h3>Jovem morre</h3>
        </header>
        <section>
            <p>
                Talvez morreu ou talvez nao
            </p>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQvTWvhJqba1HjO2CQLEUWW4Lw_a5-5Ie6xY5nwYkDDFrHSEzPL" alt="">
        </section>
    </article>
    <article>
            <header>
                <h3>Jovem morre</h3>
            </header>
            <section>
                <p>
                    Talvez morreu ou talvez nao
                </p>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQvTWvhJqba1HjO2CQLEUWW4Lw_a5-5Ie6xY5nwYkDDFrHSEzPL" alt="">
            </section>
        </article>
{% endblock %}